:root {
  --brand-color: #2196f3;
  --text-color: #212121;
  --text-second-color: #ffffff;
  --text-contacts-color: #757575;
  --backgroung-color: #2f303a;
  --background-button-color: #f5f4fa;
  --border-color: #eeeeee;
  --border-navi: #ececec;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.img {
  display: block;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0 94px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.s {
  padding-top: 0px;
}
/*NAVI PANEL */

.box {
  box-sizing: border-box;
}

.box-bottom {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.flex-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 46px;
}

/*LOGO*/
.logo-link {
  text-decoration: none;
  color: var(--brand-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 47px;
}

.logo {
  color: var(--text-color);
}

.logo-footer {
  color: var(--text-second-color);
}

/* LINK   */
.link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.link:hover {
  color: var(--brand-color);
}

.link:active {
  color: var(--brand-color);
}

.link:focus {
  color: var(--brand-color);
}

.link-contact {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-contacts-color);
}

.link-contact-footer {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color);
  margin-bottom: 53px;
  padding-bottom: 9px;
}

/*BUTTONS */
.button {
  background-color: var(--background-button-color);
  text-decoration-color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.39;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border-color: var(--background-button-color);
  border-style: hidden;
  padding: 6px 22px;
}
.button:hover {
  background-color: var(--brand-color);
  color: var(--text-second-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:active {
  background-color: var(--brand-color);
  color: var(--text-second-color);
}

.button:focus {
  background-color: var(--brand-color);
  color: var(--text-second-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}

.button-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--text-second-color);
  background-color: var(--brand-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 40px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* HEADER */
.section-header {
  background-color: var(--backgroung-color);
  padding: 200px 0;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-second-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

.secondary-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
  padding-top: 0px;
  margin: 0;
}

.article-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
}

/*SECTION ARTICLES*/

.article-paragraph {
  color: var(--text-contacts-color);
  font-size: 14px;
  line-height: 1.71;
  text-align: Left;
  letter-spacing: 0.03em;
}

/*SECTION TEAM */

.section-team {
  background-color: var(--background-button-color);
}

.section-team-photo {
  background-color: var(--text-second-color);
  padding: 0px;
  margin: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 30px;
}

.section-team-descript {
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-contacts-color);
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}

/* RESULTS */

.results-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin: 0;
}

.results-descript {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-contacts-color);
  margin: 0;
}
/*FOOTER */
.footer {
  background-color: var(--backgroung-color);
}
.adress {
  color: var(--text-second-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding-bottom: 9px;
}
.list {
  list-style-type: none;
}

.filter-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.grid-item {
  /*flex-basis: calc((100% - 30px) / 3);*/
  display: block;
  /* border: 1px solid var(--border-color);*/
  border-top: none;
  /*margin-bottom: 30px;*/
  padding-bottom: 15px;
}
.section-grid {
  padding-top: 50px;
  padding-bottom: 94px;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid var(--border-navi);
}
.column {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
  margin: 0;
}
.column-item {
  flex-basis: calc((100% - 30px) / 4);
  /*display: block;*/
  margin: 0 auto;
}

.column-photo {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 30px;
}
.column-photo-item {
  flex-basis: calc((100% - 30px) / 3);
  display: block;
  margin: 0 auto;
  /*padding-right: 15px;*/
}

.master-disaster {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.border {
  border: 1px solid var(--border-color);
  border-top: none;
  border-radius: 0px 0px 4px 4px;
  padding: 20px 24px;
}
.navi-list {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  gap: 50px;
}

.banner {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filtr {
  margin-top: 94px;
}

.footer-column {
  display: flex;
  flex-flow: column;
  padding: 60px 0;
}
